*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.welcome-wrapper{
    background-image: url('./../images/pic.jpg');
    background-size:cover;                      /* <------ */
    background-repeat:   no-repeat;
    padding: 10px;
    height: 100%;
}
.project-title{
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 20%;
}
.btncss
{
    font-family: 'Courier New', Courier, monospace;
    margin-top:3%;
}


h2{
    text-align: center
}

.left-pane, .right-pane {
    display: inline-table;
    width: 49%;
    text-align: center;
}
.heart-prediction {
    height: 150px;
    width: 180px;
    background-color: #e3e3e3;
}
.kidney-prediction {
    height: 150px;
    width: 180px;
    background-color: #e3e3e3;
}

.heart-wrapper, .kidney-wrapper{
    height: 100%;
    padding-top: 5%;
}

.heart-wrapper h2, .kidney-wrapper h2{
    margin-bottom: 5%;
}
.heart-wrapper h4, .kidney-wrapper h4{
    margin-bottom: 5%;
}