.welcome-wrapper, .heart-wrapper{
    height: 100%;
}

.welcome-screen {
    top: 40%;
    position: relative;
}

.left-pane, .right-pane {
    display: inline-grid;
    width: 49%;
    text-align: center;
}
.heart-prediction {
    height: 150px;
    width: 180px;
    background-color: #e3e3e3;
}
